/Chapter 10 Work/ConvertEmployee/build/
/Chapter 10 Work/VerifyEmployee/build/
/Chapter 10 Work/VerifyEmployee/dist/
/Chapter 10 Work/ConvertEmployee/dist/
/Chapter 11 Work/SalesReport/nbproject/private/
/Chapter 11 Work/SalesReport/build/
/Chapter 11 Work/SalesReport/dist/
/Chapter 12 Work/DisplayElements/nbproject/private/
/Chapter 12 Work/DisplayElements/build/
/Chapter 12 Work/DisplayElements/dist/
/Chapter 13 Work/SortArrays/nbproject/private/
/Chapter 13 Work/SortArrays/build/
/Chapter 13 Work/SortArrays/dist/
/Chapter 14 Work/InvoiceSummary/nbproject/private/
/Chapter 14 Work/InvoiceSummary/build/
/Chapter 15 Work/SalesCommissions/nbproject/private/
/Chapter 15 Work/SalesCommissions/dist/
/Chapter 15 Work/SalesCommissions/build/
/Chapter 16 Work/PamperedPet/nbproject/private/
/Chapter 16 Work/PamperedPet/build/
/Chapter 17 Work/PracticeFX/nbproject/private/
/Chapter 17 Work/PracticeFX/build/
/Chapter 17 Work/PamperedPets/nbproject/private/
/Chapter 17 Work/PamperedPet/nbproject/private/
/Chapter 17 Work/PamperedPet/build/
/Chapter 17 Work/PamperedPet/dist/
/Program G1/Graphics1Program/nbproject/private/
/Program G1/Graphics1Program/build/